@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  font-size: medium;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
  background-color: black;
}


.img-1 {
  float: left;
  margin: 1%;
  
}

#cover{
    margin: 8%;
}


.nav_bar {
  background-color: black;
  width: 100%;
  padding-bottom: 150px;
}

.nav-link {
  color: rgb(212, 208, 208);
  font-size: 30px;
}

nav-link:hover:not(.active) {
    background-color: black;

}

.active {
    background-color: white;
    color: black;
}

.nav-link:hover {
  background-color: #ececf8;
  color: black;
  text-decoration: none;
}


#login {
    float: right;
    margin-right: 1%;
    background-color: black;

}

.container-1{
    background-color: rgba(8, 8, 8, 0.836);
    padding: 20px;
}

.utube{
    padding: 2px;
}






















.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: white;
    border-radius: 10px;

}

.center h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;

}


.center form{
    padding: 0 40px;
    box-sizing: border-box;
}

form .txt_field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}


.txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.txt_field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
}